.games{
  padding: 24px 24px;
  .title{
    color: #333333;
  }
  .tabs{
    padding: 12px 12px;
    .tab{
      cursor: pointer;
      color: #666666;
      font-size: 36px;
      &:not(:last-child){
        margin-right: 36px;
      }
      &.selected{
        font-weight: 800;
      }
    }
  }
}