.t-2048-container{
    height: 510px;
    width: 510px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    .block{
        height: 120px;
        width: 120px;
        background-color: rgb(224, 125, 11);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        // &:not(:nth-child(4n)){
        //     margin-right: 10px;
        // }
    }

}